/** {
  margin-left: 20px;
  padding: 0px;
}*/
body {
 font-size: 14px;
}

p {
	/*width:600px;*/
}
li {
	/* width:500px;*/
}
h1 {
    text-transform:none;
}

.bordered-content {
	border: 2px solid;
}

.aacountcell {
    color:black;
    size:4;
}
.mytable {
}

Tim, make this happen!
tr.firstrow td {
    border-top: thin solid black;
    border-bottom: thin solid black;
}

.primerboundary_row td {
    border-top: thin solid black;
}

.buttonlink {
    display:inline-block;
    border-style:solid;
    border-color:#bbb #888 #666 #aaa;
    border-width:2px 2px 2px 2px;
    width:4em;
    /*height:2em;*/
    background:#ccc;
    color:#333;
    line-height:1;
    text-align:center;
    /*text-decoration:none;*/
    /*font-weight:50;*/
}

.result_table {
    border: 1px solid black;
    border-collapse:collapse;
}
.result_table td
{
  border: 1px solid black;
  padding: 4px;
}
.rtheader {
    background-color:#93B300;
}
.rteo {
    background-color:#EAF2D3; (234,242,221)
}
.rtoo {
    background-color:#bbc1a9; (140,145,127)
}
.rtoe {
    background-color:#FDFD95; (253,253,149)
}
.rtee {
    background-color:caca77; (202 202 119)
}


